
*{
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html{
  height: 100%;
}
body{  
  height: 100%;
  background-color: black;
}
.content{
  display: block;
  position: relative;
  margin: 0 auto;
  background-image: url(../assets/images/index/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;  
  background-size: 1010px 680px;
  width: 100%;
  height: 100%;
  min-height: 644px;
  padding-top: 98px;     
}
.index{
  -webkit-animation: indexShow 1s linear 1; 
  -moz-animation: indexShow 1s linear 1;
  -ms-animation: indexShow 1s linear 1;
  -o-animation: indexShow 1s linear 1;
  animation: indexShow 1s linear 1;
}
.content-lobby{
  display: block;
  position: absolute;
  width: 1010px; 
  height: 680px;
  min-height: 680px;  
  left: 50%;  
  margin-left: -505px; 
}
.wrapper{  
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation: lights 1s linear 1; 
  -moz-animation: lights 1s linear 1;
  -ms-animation: lights 1s linear 1;
  -o-animation: lights 1s linear 1;
  animation: lights 1s linear 1;
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -ms-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;  
}
.my-profile-active{
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-animation: lights 1s linear 1; 
  -moz-animation: lights 1s linear 1;
  -ms-animation: lights 1s linear 1;
  -o-animation: lights 1s linear 1;
  animation: lights 1s linear 1;
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -ms-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; 
}
.tabs{
  height: 30px;
}
.tab{
  position: relative;
  float: left;
  width: 130px;
  height: 29px;  
  border-top: 1px solid #5c5035;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  line-height: 28px;
  list-style: none;
  cursor: pointer;
}
.tab-lobby{  
  color: #fff;
  background-color: #766745;
  background: linear-gradient(to top, #7a6a47 0%, #7a6a47 50%, #403825 98%, #8f7d53 98%, #8f7d53 100%);  
}
#tab-my-profile-select.active-tab-my-profile{
  position: relative;
  float: left;
  width: 130px;
  height: 29px;  
  border-top: 1px solid #5c5035;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  line-height: 28px;
  list-style: none;
  cursor: pointer;
  display: block;  
  color: #fff;
  background-color: #766745;
  background: linear-gradient(to bottom, #7a6a47 0%, #7a6a47 50%, #403825 98%, #8f7d53 98%, #8f7d53 100%); 
}
#tab-my-profile-select{
  display: none;
}
.close-tab{
  height:20px; 
  width:20px;
  background-image: url(../assets/images/lobby/close-tab.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 108px;
}
.close-tab:hover{
  background-position:0 -21px;
}
.content-wrapper{  
  width: 100%;
  height: 100%;
  min-height: 680px;
}
.page-active{
  display: none;
}
#menu.none{
  display: none;
}
#menu{
  display: block;
  background-image: url(../assets/images/lobby/content-lobby.jpg);
  background-position: left;
  background-repeat: no-repeat; 
  height: 100%;
}
.menu-lobby{
  background-image: url(../assets/images/lobby/menu.jpg);  
  background-repeat: no-repeat; 
  width: 60px;
  height: 22px;
  position: relative;
  top: 3px;
  left: 8px;
}
#menu-list.menu-list-active{
  display: block;
}
#menu-list{
  width: 110px;
  padding-top: 10px;
  display: none;
}
#menu-list>p{
  padding-right: 10px;
  color: #e3b403;
  height: 19px;
  background-color: #3a3323;
  padding-left: 5px;
}
#menu-list>ul{
  list-style: none;
}
#menu-list ul>li{
  border-bottom: 1px solid black;
  height: 19px;
  background-color: #6b5d3f;
  padding-left: 10px;
  color: #eeecbc;
  cursor: pointer;
}
#menu-list ul>li:hover{
  color: white;
}
#menu-list a{
  color: #eeecbc;
  cursor: pointer;
  text-decoration: none;
}
#menu-list a:hover{
  color: white;
}
#form-my-profile.form-my-profile-active{
  display: block;
}
#form-my-profile{
  display: none;
  width: 820px;
  height: 635px; 
  position: relative;
  background-image: url(../assets/images/my_profile/fon_bg.jpg);
}
.personal-information{
  width: 300px;
  position: relative;
  top: 200px;
  left:65px;
  padding-left: 20px;
  float: left;
}
.personal-information-title{
  font-size: 24px;
  color: #f9ee71;
}
.personal-information table{
  padding-top: 20px;
}
.personal-information table p{
  color: white;
  font-weight: 300;
  font-size: 14px;
  font-family: Arial;
  line-height: 2em;
}
.on-off-input{
  display: inline-block;
  height: 30px;
  width: 290px;
  background-color: #67634a;   
}
.on-off-input input[type="checkbox"]{
    display:none;
}
.on-off-input span{
  position: relative;
  top: -27px;
  right: 3px;
  width:63px;
  height:28px;
  display:block;
  float: right;
  background:url(../assets/images/my_profile/on_off.png) 0 -30px no-repeat;
}
.on-off-input input[type="checkbox"]:checked+span{
    background-position:0 0;
}
.link{
  color: #9a7f20;
  text-decoration: underline;
}
.contact-information{
  width: 470px;
}
.personal-information-size-select{
  width: 98%;
}
.button-footer{
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 534px;
  text-align: center;
}
.button-footer-nav{
  width: 176px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #568804;
  display: inline-block;
  margin-left: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.close-button{
  vertical-align: top;
  font-size: 24px;
}

@-webkit-keyframes indexShow {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
@-moz-keyframes indexShow {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
@-ms-keyframes indexShow {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
@-o-keyframes indexShow {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
@keyframes indexShow {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lights {
  0% {
    background-image: url(../assets/images/index/bg.jpg);  
  } 
  100% {
    background-image: url(../assets/images/lobby/bg.jpg);
  }
}
@-moz-keyframes lights {
  0% {
    background-image: url(../assets/images/index/bg.jpg);  
  } 
  100% {
    background-image: url(../assets/images/lobby/bg.jpg);
  }
}
@-ms-keyframes lights {
  0% {
    background-image: url(../assets/images/index/bg.jpg);  
  } 
  100% {
    background-image: url(../assets/images/lobby/bg.jpg);
  }
}
@-o-keyframes lights {
  0% {
    background-image: url(../assets/images/index/bg.jpg);  
  } 
  100% {
    background-image: url(../assets/images/lobby/bg.jpg);
  }
}
@keyframes lights {
  0% {
    background-image: url(../assets/images/index/bg.jpg);  
  } 
  100% {
    background-image: url(../assets/images/lobby/bg.jpg);
  }
}